html{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body{
    width: 100%;
    overflow-x:hidden !important;
    overflow-y:auto !important;
    background-color: #fff !important;
}
#name {
    font-weight: bold;
}
input.select-dropdown{
    padding: 0 15px    !important;
    font-size: 1rem    !important;
    margin: 10 10 10 10  !important;
    display: block     !important;
    position: relative !important;
}

div input.select-dropdown {
    -webkit-transition: background-color .3s !important;
    transition: background-color .3s !important;
    font-size: 1rem !important;
    color: #fff !important;
    background-color: #ff8c00 !important;
    -webkit-appearance: none;
    display: block !important;
    padding: 0px 16px !important;
    cursor: pointer !important;
    box-sizing: inherit;
    position: relative !important;
    height: 36px !important;
    width: 5.625rem !important;
    text-indent: 1px;
    text-overflow: '';
}

.select-wrapper input.select-dropdown{
    appearance: none;
    border-bottom: 0px transparent !important;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px){
nav ul input.select-dropdown {
         border-bottom: 1px solid #fff !important;
    }
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1c2224;
}

#search_form{
    display: flex;
    flex-grow: 4;
    
}

.input-field{
    display: flex;
    flex-grow: 4;
}

@media only screen and (max-width: 768px) {
    #name {
      font-size: 30px;
    }
    .card{
      font-size: 14px;
    }
    
    .sidenav{
      background-color: #f7f7f7;
    }
  }
